@model Dwp.Adep.Framework.Management.Web.ViewModels.StaffOrganisationVM
@{
    ViewBag.Title = FixedResources.ENTITYNAME_STAFFORGANISATION;
}
<h2>Maintain @FixedResources.ENTITYNAME_STAFFORGANISATION</h2>
<script type="text/javascript">
    /// <reference path="jquery-1.7.1.js" />
    /// <reference path="jquery-ui.js" />
    $(document).ready(function () {

        var isDirty = @(Model.IsViewDirty?Html.Raw("true"):Html.Raw("false"));

        $(':input').change(function () {
            if (!isDirty) {
                isDirty = true;
            }
        });
		
		var $myDialogDelete = $('<div id=\'confirm\'></div>')
        .html('Are you sure you want to delete?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsDeleteConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::DeleteStaffOrganisation").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });
		
		var $myDialogExit = $('<div id=\'confirm\'></div>')
        .html('Are you sure you want to exit?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsExitConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::ExitStaffOrganisation").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });

        $('#mainForm').submit(function (e) {

            if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::DeleteStaffOrganisation') {
                e.preventDefault();
                $('#IsDeleteConfirmed').val("True");
                var returnValue = $myDialogDelete.dialog('open');  //replace the div id with the id of the button/form
                return returnValue;
            }
            else if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::ExitStaffOrganisation') {
                if (isDirty == true) {
                    e.preventDefault();
                    $('#IsExitConfirmed').val("True");
                    var returnValue = $myDialogExit.dialog('open');  //replace the div id with the id of the button/form
                    return returnValue;
                }
                else {
                    $('#IsExitConfirmed').val("True");
                    return true;
                }
            }
            else {
                return true;
            }
        });
	});
	
	//set the validator so that it hits (doesn't ignore) hidden fields NOTE:- This is outside the 'ready' function
    $.validator.setDefaults({
        ignore: ""
    });
</script>
@using (Html.BeginForm("Edit", "StaffOrganisation", FormMethod.Post, new { @id = "mainForm" }))
{
    @Html.ValidationSummary(true)
    <div class='message'>@Model.Message</div>
    @Html.HiddenFor(model => model.StaffOrganisationItem.Code)
    <input type='hidden' id='IsDeleteConfirmed' name='IsDeleteConfirmed' value='@Model.IsDeleteConfirmed' />
    <input type='hidden' id='IsExitConfirmed' name='IsExitConfirmed' value='@Model.IsExitConfirmed' />
    <div class="full-width clearfix">
		    <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend class="ui-widget-header ui-corner-all">@FixedResources.ENTITYNAME_STAFFORGANISATION</legend>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.StaffOrganisationItem.StaffCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.StaffOrganisationItem.StaffCode)'>
						@Html.DropDownListFor(model => model.StaffOrganisationItem.StaffCode, new SelectList(Model.StaffList, "Code", "StaffNumber"), @String.Format(FixedResources.DDL_GENERIC, @FixedResources.ENTITYNAME_STAFF))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.StaffOrganisationItem.StaffCode)
					</div>
				</div>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.StaffOrganisationItem.OrganisationCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.StaffOrganisationItem.OrganisationCode)'>
						@Html.DropDownListFor(model => model.StaffOrganisationItem.OrganisationCode, new SelectList(Model.OrganisationList, "Code", "Name"), @String.Format(FixedResources.DDL_GENERIC, @FixedResources.ENTITYNAME_ORGANISATION))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.StaffOrganisationItem.OrganisationCode)
					</div>
				</div>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.StaffOrganisationItem.ApplicationCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.StaffOrganisationItem.ApplicationCode)'>
						@Html.DropDownListFor(model => model.StaffOrganisationItem.ApplicationCode, new SelectList(Model.ApplicationList, "Code", "Description"), @String.Format(FixedResources.DDL_GENERIC, @FixedResources.ENTITYNAME_APPLICATION))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.StaffOrganisationItem.ApplicationCode)
					</div>
				</div>
				@Html.EditorFor(model => model.StaffOrganisationItem.IsDefault,"LabelCheckBoxAlign")
				@Html.EditorFor(model => model.StaffOrganisationItem.IsCurrent,"LabelCheckBoxAlign")
				<div class="full-width clearfix">
		            @if (Model.AccessContext == Dwp.Adep.Framework.Management.Web.ViewModels.StaffOrganisationAccessContext.Create)
		            {
		                <input id='CreateButton' type='submit' name='Edit::CreateStaffOrganisation' value='@FixedResources.LABEL_CREATEBUTTON' title='@FixedResources.TOOLTIP_CREATEBUTTON @FixedResources.ENTITYNAME_STAFFORGANISATION' />
		            }
		            else
		            {
		                <input id='SaveButton' type='submit' name='Edit::SaveStaffOrganisation' value='@FixedResources.LABEL_SAVEBUTTON' title='@FixedResources.TOOLTIP_SAVEBUTTON @FixedResources.ENTITYNAME_STAFFORGANISATION'/>
						<input id='DeleteButton' class='cancel' type='submit' name='Edit::DeleteStaffOrganisation' value='@FixedResources.LABEL_DELETEBUTTON' title='@FixedResources.TOOLTIP_DELETEBUTTON @FixedResources.ENTITYNAME_STAFFORGANISATION'/>	            
		            }    
		            <input id='ExitButton' class='cancel' type='submit' name='Edit::ExitStaffOrganisation' value='@FixedResources.LABEL_EXITBUTTON' title='@FixedResources.TOOLTIP_EXITBUTTON'/>
		        </div>
			</fieldset>
	</div>
}
