@model Dwp.Adep.Framework.Management.Web.ViewModels.SecurityCheckSearchVM

@{
    ViewBag.Title = Resources.LABEL_SCREENTITLE_SECURITYCHECKLIST;
}
<h2>
    @Resources.LABEL_SCREENTITLE_SECURITYCHECKLIST</h2>
<script type="text/javascript">
    $(document).ready(function () {
        function updateGrid(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var grid = $(this).parents('.ajaxGrid');
            var id = grid.attr('id');
            grid.load(url + ' #' + id, function (response, status, xhr) {
                jQueryUIStyling();
            })
        }
        $('.ajaxGrid table thead tr a').live('click', updateGrid);
        $('.ajaxGrid table tfoot tr a').live('click', updateGrid);


    });

</script>

@using (Html.BeginForm("Search", "SecurityCheck", FormMethod.Post, new { @id = "mainForm" }))
{
    @Html.ValidationSummary(true)

    <div class="webgrid-wrapper">
        <div class="webgrid-title">
            @Resources.LABEL_GRIDTITLE_SECURITYCHECKLIST</div>
        <div id="grid" class='ajaxGrid'>
            @{
                var grid = new WebGrid(null, canPage: true, rowsPerPage: Model.PageSize, defaultSort: "Code", canSort: false);
                grid.Bind(Model.MatchList, rowCount: Model.TotalRows, autoSortAndPage: false);
           
                @grid.GetHtml(
                    tableStyle: "webgrid",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    mode: WebGridPagerModes.All, firstText: FixedResources.PAGING_FIRSTPAGE, previousText: FixedResources.PAGING_PREVIOUS, nextText: FixedResources.PAGING_NEXT, lastText: FixedResources.PAGING_LASTPAGE, numericLinksCount: 5,
                    alternatingRowStyle: "webgrid-alternating-rows",
                    columns: grid.Columns(
                    grid.Column("Code", header: "", format: @<text>@Html.Raw("<input id='SelectButton_")@item.Code@Html.Raw("' type='submit' name='Search::SearchPost_")@item.Code@Html.Raw("' value='")@Html.Raw(FixedResources.LABEL_SELECTBUTTON)@Html.Raw("' title='")@FixedResources.TOOLTIP_SELECTTOEDITBUTTON @Html.Raw("' />")</text>)
                    ,grid.Column("CheckID", header: @Resources.LABEL_SECURITYCHECK_CHECKID)
                    ,grid.Column("SEF_ID", header: @Resources.LABEL_SECURITYCHECK_SEF_ID)
                    ,grid.Column("DateRaised", header: @Resources.LABEL_SECURITYCHECK_DATERAISED)
                    ,grid.Column("DateAccountDeletion", header: @Resources.LABEL_SECURITYCHECK_DATEACCOUNTDELETION)
                    ,grid.Column("DateBF", header: @Resources.LABEL_SECURITYCHECK_DATEBF)
                    ,grid.Column("DateCheckGenerated", header: @Resources.LABEL_SECURITYCHECK_DATECHECKGENERATED)
                    ,grid.Column("DateCheckCompleted", header: @Resources.LABEL_SECURITYCHECK_DATECHECKCOMPLETED)
                    ,grid.Column("DaysToClear", header: @Resources.LABEL_SECURITYCHECK_DAYSTOCLEAR)
                    ,grid.Column("DateCheckCompletedEntered", header: @Resources.LABEL_SECURITYCHECK_DATECHECKCOMPLETEDENTERED)
                    ,grid.Column("DateReminder", header: @Resources.LABEL_SECURITYCHECK_DATEREMINDER)
                    ,grid.Column("DateEvidenceRequested", header: @Resources.LABEL_SECURITYCHECK_DATEEVIDENCEREQUESTED)
                    ,grid.Column("DateSentToSAT", header: @Resources.LABEL_SECURITYCHECK_DATESENTTOSAT)
                    ,grid.Column("DateReceivedBySAT", header: @Resources.LABEL_SECURITYCHECK_DATERECEIVEDBYSAT)
                    ,grid.Column("DateReceivedInOPS", header: @Resources.LABEL_SECURITYCHECK_DATERECEIVEDINOPS)
                    ,grid.Column("DateRequestReceivedByOps", header: @Resources.LABEL_SECURITYCHECK_DATEREQUESTRECEIVEDBYOPS)
                    ,grid.Column("DateReturnedBySAT", header: @Resources.LABEL_SECURITYCHECK_DATERETURNEDBYSAT)
                    ,grid.Column("DateValidation", header: @Resources.LABEL_SECURITYCHECK_DATEVALIDATION)
                    ,grid.Column("Notes", header: @Resources.LABEL_SECURITYCHECK_NOTES)
                    ,grid.Column("BF_Notes", header: @Resources.LABEL_SECURITYCHECK_BF_NOTES)
                    ,grid.Column("DateGeneratedMonth", header: @Resources.LABEL_SECURITYCHECK_DATEGENERATEDMONTH)
                    ,grid.Column("DateClearedMonth", header: @Resources.LABEL_SECURITYCHECK_DATECLEAREDMONTH)
                    ,grid.Column("IsActive", header: @Resources.LABEL_SECURITYCHECK_ISACTIVE)
                    )
                    
                )
            }
            Records Returned: @grid.TotalRowCount
        </div>
		<input id='NewButton' type='submit' name='Search::NewSecurityCheck' value="@Html.Raw(FixedResources.LABEL_NEWBUTTON)" />
    </div>
}
