@model Dwp.Adep.Framework.Management.Web.ViewModels.BenefitVM
@{
    ViewBag.Title = "";
}
<h2>test</h2>
<script type="text/javascript">
    /// <reference path="jquery-1.7.1.js" />
    /// <reference path="jquery-ui.js" />
    $(document).ready(function () {

        $.validator.setDefaults({
            ignore: ""
        });

        var isDirty = false;

        $(':input').change(function () {
            if (!isDirty) {
                isDirty = true;
            }
        });
	});
</script>
@using (Html.BeginForm("EditBenefit", "Benefit", FormMethod.Post, new { @id = "mainForm" }))
{
    @Html.ValidationSummary(true)
    <div class='message'>@Model.Message</div>
    @Html.HiddenFor(model => model.BenefitItem.Code)
    <input type='hidden' id='IsDeleteConfirmed' name='IsDeleteConfirmed' value='@Model.IsDeleteConfirmed' />
    <input type='hidden' id='IsExitConfirmed' name='IsExitConfirmed' value='@Model.IsExitConfirmed' />
    <input type='hidden' id='IsNewConfirmed' name='IsNewConfirmed' value='@Model.IsNewConfirmed' />
    <div class="full-width clearfix">
        <div class="left-50">
		    <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend class="ui-widget-header ui-corner-all">@Resources.LEGEND_DETAILS_OF_CUSTOMER</legend>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.BenefitItem.Benefit1)
					</div>
					<div class="editor-field right-60">
						@Html.EditorFor(model => model.BenefitItem.Benefit1)
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.BenefitItem.Benefit1)
					</div>
				</div>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.BenefitItem.IsActive)
					</div>
					<div class="editor-field right-60">
						@Html.EditorFor(model => model.BenefitItem.IsActive)
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.BenefitItem.IsActive)
					</div>
				</div>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.BenefitItem.RowIdentifier)
					</div>
					<div class="editor-field right-60">
						@Html.EditorFor(model => model.BenefitItem.RowIdentifier)
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.BenefitItem.RowIdentifier)
					</div>
				</div>
			</fieldset>
		</div>
	</div>
}
