@model IEnumerable<Dwp.Adep.Framework.Management.Web.Models.CheckerModel>

@{
    ViewBag.Title = "CheckerView";
}

<h2>CheckerView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
      <th>
            Code
        </th>
        <th>
            StaffCode
        </th>
        <th>
            LastName
        </th>
        <th>
            FirstName
        </th>
        <th>
            IsOPIT
        </th>
        <th>
            IsCST
        </th>
        <th>
            RowIdentifier
        </th>
          <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOPIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowIdentifier)
        </td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>
