@model IEnumerable<Dwp.Adep.Framework.Management.Web.Models.OrganisationModel>

@{
    ViewBag.Title = "OrganisationView";
}

<h2>OrganisationView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
      <th>
            Code
        </th>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            OrganisationTypeCode
        </th>
        <th>
            HEO
        </th>
        <th>
            DateDeleted
        </th>
        <th>
            RowIdentifier
        </th>
          <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowIdentifier)
        </td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>
