@model Dwp.Adep.Framework.Management.Web.ViewModels.TitleSearchVM

@{
    ViewBag.Title = Resources.LABEL_SCREENTITLE_TITLELIST;
}
<h2>
    @Resources.LABEL_SCREENTITLE_TITLELIST</h2>
<script type="text/javascript">
    $(document).ready(function () {
        function updateGrid(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var grid = $(this).parents('.ajaxGrid');
            var id = grid.attr('id');
            grid.load(url + ' #' + id, function (response, status, xhr) {
                jQueryUIStyling();
            })
        }
        $('.ajaxGrid table thead tr a').live('click', updateGrid);
        $('.ajaxGrid table tfoot tr a').live('click', updateGrid);


    });

</script>

@using (Html.BeginForm("Search", "Title", FormMethod.Post, new { @id = "mainForm" }))
{
    @Html.ValidationSummary(true)

    <div class="webgrid-wrapper">
        <div class="webgrid-title">
            @Resources.LABEL_GRIDTITLE_TITLELIST</div>
        <div id="grid" class='ajaxGrid'>
            @{
                var grid = new WebGrid(null, canPage: true, rowsPerPage: Model.PageSize, defaultSort: "Code", canSort: false);
                grid.Bind(Model.MatchList, rowCount: Model.TotalRows, autoSortAndPage: false);
           
                @grid.GetHtml(
                    tableStyle: "webgrid",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    mode: WebGridPagerModes.All, firstText: FixedResources.PAGING_FIRSTPAGE, previousText: FixedResources.PAGING_PREVIOUS, nextText: FixedResources.PAGING_NEXT, lastText: FixedResources.PAGING_LASTPAGE, numericLinksCount: 5,
                    alternatingRowStyle: "webgrid-alternating-rows",
                    columns: grid.Columns(
                    grid.Column("Code", header: "", format: @<text>@Html.Raw("<input id='SelectButton_")@item.Code@Html.Raw("' type='submit' name='Search::SearchPost_")@item.Code@Html.Raw("' value='")@Html.Raw(FixedResources.LABEL_SELECTBUTTON)@Html.Raw("' />")</text>)
                    ,grid.Column("Description", header: @Resources.LABEL_TITLE_DESCRIPTION)
                    )
                    
                )
            }
            Records Returned: @grid.TotalRowCount
        </div>
		<input id='NewButton' type='submit' name='Search::NewTitle' value="@Html.Raw(FixedResources.LABEL_NEWBUTTON)" />
    </div>
}
