@model Dwp.Adep.Framework.Management.Web.ViewModels.StaffDetailsVM
@{
    ViewBag.Title = FixedResources.ENTITYNAME_STAFFDETAILS;
}
<h2>Maintain @FixedResources.ENTITYNAME_STAFFDETAILS</h2>
<script type="text/javascript">
    /// <reference path="jquery-1.7.1.js" />
    /// <reference path="jquery-ui.js" />
    $(document).ready(function () {

        var isDirty = @(Model.IsViewDirty?Html.Raw("true"):Html.Raw("false"));

        $(':input').change(function () {
            if (!isDirty) {
                isDirty = true;
            }
        });

		var $myDialogExit = $('<div id=\'confirm\'></div>')
        .html('Are you sure you want to exit?<br/>Click OK to confirm.  Click Cancel to stop this action.')
        .dialog({
            autoOpen: false,
            modal: true,
            title: 'Confirmation Required',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    if ($('#IsExitConfirmed').val() == "True") {
                        var form = $('#mainForm')
                        var input = $("<input>").attr("type", "hidden").attr("name", "Edit::ExitStaffDetails").val("");
                        form.append($(input));
                        $('#mainForm')[0].submit();
                        return true;
                    }
                }
                , "Cancel": function () {
                    $(this).dialog("close");
                    return false;
                }
            }

        });

        $('#mainForm').submit(function (e) {

			if ($('#mainForm').find('input[type="submit"]:focus').attr('name') == 'Edit::ExitStaffDetails') {
                if (isDirty == true) {
                    e.preventDefault();
                    $('#IsExitConfirmed').val("True");
                    var returnValue = $myDialogExit.dialog('open');  //replace the div id with the id of the button/form
                    return returnValue;
                }
                else {
                    $('#IsExitConfirmed').val("True");
                    return true;
                }
            }           
        });
	});
	
</script>
@using (Html.BeginForm("Edit", "StaffDetails", FormMethod.Post, new { @id = "mainForm" }))
{
    @Html.ValidationSummary(true)
    <div class='message'>@Model.Message</div>
    @Html.HiddenFor(model => model.StaffDetailsItem.Code)    
    <input type='hidden' id='IsExitConfirmed' name='IsExitConfirmed' value='@Model.IsExitConfirmed' />
    <div class="full-width clearfix">
		    <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend class="ui-widget-header ui-corner-all">@FixedResources.ENTITYNAME_STAFFDETAILS</legend>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.StaffDetailsItem.StaffCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.StaffDetailsItem.StaffCode)'>
						@Html.DropDownListFor(model => model.StaffDetailsItem.StaffCode, new SelectList(Model.StaffList, "Code", "StaffNumber"), @String.Format(FixedResources.DDL_GENERIC, @FixedResources.ENTITYNAME_STAFF))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.StaffDetailsItem.StaffCode)
					</div>
				</div>
				<div class="full-width clearfix">
					<div class="editor-label left-40">
						@Html.LabelFor(model => model.StaffDetailsItem.StaffOfficeCode)
					</div>
					<div class="editor-field right-60" title='@Html.ToolTipFor(model => model.StaffDetailsItem.StaffOfficeCode)'>
						@Html.DropDownListFor(model => model.StaffDetailsItem.StaffOfficeCode, new SelectList(Model.StaffOfficeList, "Code", "Name"), @String.Format(FixedResources.DDL_GENERIC, @FixedResources.ENTITYNAME_STAFFOFFICES))
					</div>
					<div class="full-width clearfix">
						@Html.ValidationMessageFor(model => model.StaffDetailsItem.StaffOfficeCode)
					</div>
				</div>
				@Html.EditorFor(model => model.StaffDetailsItem.Section,"LabelFieldAlign")
				@Html.EditorFor(model => model.StaffDetailsItem.Room,"LabelFieldAlign")
				@Html.EditorFor(model => model.StaffDetailsItem.DirectDialNo,"LabelFieldAlign")
				@Html.EditorFor(model => model.StaffDetailsItem.Extension,"LabelFieldAlign")
				@Html.EditorFor(model => model.StaffDetailsItem.Email,"LabelFieldAlign")
				<div class="full-width clearfix">
		            @if (Model.AccessContext == Dwp.Adep.Framework.Management.Web.ViewModels.StaffDetailsAccessContext.Create)
		            {
		                <input id='CreateButton' type='submit' name='Edit::CreateStaffDetails' value='@FixedResources.LABEL_CREATEBUTTON' title='@FixedResources.TOOLTIP_CREATEBUTTON @FixedResources.ENTITYNAME_STAFFDETAILS' />
		            }
		            else
		            {
		                <input id='SaveButton' type='submit' name='Edit::SaveStaffDetails' value='@FixedResources.LABEL_SAVEBUTTON' title='@FixedResources.TOOLTIP_SAVEBUTTON @FixedResources.ENTITYNAME_STAFFDETAILS'/>						
		            }    
		            <input id='ExitButton' class='cancel' type='submit' name='Edit::ExitStaffDetails' value='@FixedResources.LABEL_EXITBUTTON' title='@FixedResources.TOOLTIP_EXITBUTTON'/>
		        </div>
			</fieldset>
	</div>
}
